In [47]:
# Dependencies
import os
from splinter import Browser
from bs4 import BeautifulSoup
from webdriver_manager.chrome import ChromeDriverManager
import requests
import pandas as pd
import pymongo

In [48]:
# Activating ChromeDriverManager
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

====== WebDriver manager ======
Current google-chrome version is 93.0.4577
Get LATEST driver version for 93.0.4577
Driver [C:\Users\nng59\.wdm\drivers\chromedriver\win32\93.0.4577.15\chromedriver.exe] found in cache

## Mars News Titles

In [49]:
# Visiting the website
redplanetscience = 'https://redplanetscience.com/'

# response = requests.get(redplanetscience)
browser.visit(redplanetscience)

In [50]:
for x in range(1):
	# Definitions
	html = browser.html
	soup = BeautifulSoup(html, 'html.parser')
	results = soup.find_all('div', class_='col-md-8')

	# scrape loop
	for result in results:

		# Parent div for article title and teaser paragraph
		news_title = result.find('div', class_='content_title').text.strip()
		news_p = result.find('div', class_='article_teaser_body').text.strip()

		# Prints
		print('---------------------------------')
		print(news_title)
		print(news_p)

## JPL Mars Space Images - Featured Image

In [51]:
spaceimages = 'http://spaceimages-mars.com/'
browser.visit(spaceimages)

In [52]:
for x in range(1):
	# Definitions
	html = browser.html
	soup = BeautifulSoup(html, 'html.parser')
	results = soup.find_all('div', class_='floating_text_area')

	# scrape loop
	for result in results:

		# Find featured image
		a = result.find('a')
		href = a['href']

		# Prints
		print('---------------------------------')
		print(f"Link to Featured Space Image: {spaceimages}{href}")

featured_image_url = spaceimages + href

---------------------------------
Link to Featured Space Image: http://spaceimages-mars.com/image/featured/mars1.jpg

## Mars Facts

In [53]:
galaxyfacts_mars = 'https://galaxyfacts-mars.com/'

In [69]:
mars_tables = pd.read_html(galaxyfacts_mars)
mars_tables

[                         0                1                2
 0  Mars - Earth Comparison             Mars            Earth
 1                Diameter:         6,779 km        12,742 km
 2                    Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
 3                   Moons:                2                1
 4       Distance from Sun:   227,943,824 km   149,598,262 km
 5          Length of Year:   687 Earth days      365.24 days
 6             Temperature:     -87 to -5 °C      -88 to 58°C,
                       0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:          2 ( Phobos & Deimos )
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [70]:
mars_fact_table = mars_tables[1]
mars_fact_table

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:          2 ( Phobos & Deimos )
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [55]:
browser.quit()